pytest>=5.4.3
pytest-cov>=2.10.0
codecov>=2.1.11 
pymongo>=3.11.2 
InstagramApi
pandas>=1.0.5 
psycopg2-binary>=2.8.6
translate-api>=4.7.6
emoji>=0.5.4
regex>=2020.6.8
nltk>=3.5
matplotlib>=3.2.2
numpy>=1.19.0 
google-trans-new>=1.1.4
flair>=0.7
nltk>=3.5 

cufflinks>=0.17.3
plotly>=4.14.1 
dash>=1.17.0
dash-bootstrap-components>=0.10.7
dash-extensions>=0.0.34
Flask>=1.1.2 